<div class="row">
	<div class="span8">
		<h4>Who am I?</h4>
	</div>
	<div class="span4">
		<h4>My Skills</h4>
		<div class="progress">
			<div class="bar" style="width:100%">
				<p>HTML</p>
			</div>
		</div>
		<div class="progress">
			<div class="bar" style="width:80%">
				<p>CSS</p>
			</div>
		</div>
		<div class="progress">
			<div class="bar" style="width:80%"><p>PHP</p></div>
		</div>
		<div class="progress">
			<div class="bar" style="width:60%">MySQL</div>
		</div>
		<div class="progress">
			<div class="bar" style="width:40%">Ruby</div>
		</div>
	</div>
</div>	