<div id="contact_info" class="row">
	<div class="span6">
		<h5>Where Am I?</h5>
		<div class="row">
			<div class="span6">
				<iframe width="100%" height="350" frameborder="0" scrolling="no" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=376+Margaret+St,+Plattsburgh,+NY&amp;aq=0&amp;oq=376+&amp;sll=42.746632,-75.770041&amp;sspn=4.501717,9.876709&amp;ie=UTF8&amp;hq=&amp;hnear=376+Margaret+St,+Plattsburgh,+New+York+12901&amp;t=m&amp;z=14&amp;ll=44.708877,-73.451803&amp;output=embed"></iframe>
			</div>
		</div>
		
		<div class="row">
			<div class="span6">
				<h4><i class="icon-home"></i> Address</h4>
				<p class="orange">Bryce Batson</p>
				<p>376 Margaret St Apt D-21</p>
				<p>Plattsburgh, NY 12901</p>
				<br>
			</div>
			<div class="span6">
				<h4><i class="icon-comment"></i> Contact</h4>	
				<p>Phone: 802.473.0249</p>
				<p>Email: <%= mail_to 'batson456@gmail.com' %></p>
			</div>
		</div>
	</div>

	<div id="contact_form" class="span6">
		<h5>Get in touch!</h5>	
		<%= render :template => 'contact/new' %>
	</div>
</div>

<div class="row">
	
</div>