<div class="row show-grid">
    <div class="span8 offset2">
        <div class="alert">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            Please be patient, this website is currently under construction. Some stuff may not work yet, sorry about that. Feel free to browse around and keep checking back as it will be constantly updated.
        </div>
    </div>
</div>

<div class="row">
  <div class="span12">
      <div class="introduction">
        <span>Hey there! My name is <span class="orange">Bryce Batson</span>. Welcome to my portfolio! Please take a look around, there may be some stuff here that <span class="orange">amazes</span> you. If you like what you see, let me know. Hopefully I will hear from you soon!</span>
      </div>
  </div>
</div>

<div class="row">
  <div class="turn-up"></div>
</div>

<div id="slider" class="row">
  <div class="span12">
    <div class="rotator">
        <ul id="rotmenu">
            <li>
                <a href="rot1">Danette's Photography</a>
                <div style="display:none;">
                    <div class="info_image">danette.png</div>
                    <div class="info_description">
                        I made this site for Danette Duprey, a photographer living in Chazy, New York. It features a custom ajax driven admin panel and all the tools she needs to keep it running. Design courtesy of ThemeCatcher at <a href="http://www.themeforest.net">ThemeForest</a>
                        <br>
                        <a href="#" class="more">Visit</a>
                    </div>
                </div>
            </li>

            <li>
                <a href="rot2">The Wallers</a>
                <div style="display:none;">
                    <div class="info_image">wallers.png</div>
                    <div class="info_description">
                        Created a family website for The Waller family including event calendar and personalized blogs for every member of the family.
                        <br>
                        <a href="#" class="more">Visit</a>
                    </div>
                </div>
            </li>

            <li>
                <a href="rot3">My Portfolio</a>
                <div style="display:none;">
                    <div class="info_image">my-portfolio.png</div>
                    <div class="info_description">
                        Created my own portfolio website, which I scrapped and started over fresh with this one. Much better isn't it?
                        <br>
                        <a href="#" class="more">Visit</a>
                    </div>
                </div>
            </li>
            
        </ul>

        <div id="rot1">
            <img src="" width="800" height="300" class="bg" alt=""/>
            <div class="heading">
                <h1></h1>
            </div>
            <div class="description">
                <p></p>
            </div>
        </div>
    </div>
  </div>
</div>

<div class="row">
    <div class="span12">
        <h4>
            Latest Projects 
            <span class="more-link pull-right"><a href="#">View All</a>
        </h4>
    </div>
        <ul class="thumbnails">
            <li class="span4">
                <a href="#" class="image thumbnail">
                    <span class="roll"></span>
                    <%= image_tag 'wallers.png' %>
                </a>
            </li>
            <li class="span4">
                <a href="#" class="image thumbnail">
                    <span class="roll"></span>
                    <%= image_tag 'danette.png' %>
                </a>
            </li>
            <li class="span4">
                <a href="#" class="image thumbnail">
                    <span class="roll"></span>
                    <%= image_tag 'my-portfolio.png' %>
                </a>
            </li>
        </ul>
    </div>
</div>
    

<div class="row">
    <div class="span12">
        <h4>Recent Posts <span class="more-link pull-right"><a href="#">View All</a></h4>
        <div class="row">
            <div class="span4">
                <h5>Title</h5>
                <span class="date">May 15, 2012</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
                <a href="#" class="button-small pull-right">Read More</a>
            </div>
            <div class="span4">
                <h5>Title</h5>
                <span class="date">May 15, 2012</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
                <a href="#" class="button-small pull-right">Read More</a>
            </div>
            <div class="span4">
                <h5>Title</h5>
                <span class="date">May 15, 2012</span>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
                <a href="#" class="button-small pull-right">Read More</a>
            </div>
            
        </div>
    </div>
</div>
