<div class="row">
	<div class="span12">
		<h4>My Portfolio</h4>	
	</div>
</div>

<ul id="gallery" class="thumbnails">
	<li class="span3">
		<%= link_to image_tag('thumbs/wallers.png'), asset_path('wallers.png'), :title => 'The Wallers Family Website, currently under construction' %>
	</li>

	<li class="span3">
		<%= link_to image_tag('thumbs/my-portfolio.png'), asset_path('my-portfolio.png'), :title => 'The First Portfolio Page I ever made' %>
	</li>	

	<li class="span3">
		<%= link_to image_tag('thumbs/katy_aftermath.png'), asset_path('katy_aftermath.png'), :title => 'Katy Milstead\'s Blog' %>
	</li>

	<li class="span3">
		<%= link_to image_tag('thumbs/danette.png'), asset_path('danette.png'), :title => 'Danette Duprey\'s Photography Page' %>
	</li>
</ul>

<hr>

<h5>
	And more to come! Keep checking back for more, maybe the next one will be one we work on together!
</h5>
