<div class="row">
	<div class="span8">
		<% unless @posts.empty? %>
			<%= render :partial => 'posts' %>
		<% else %>
			There are no posts in this category
		<% end %>
	</div>
	<div class="span4">
	  	<%= render :partial => 'sidebar' %>
	</div>
</div>