<div class="row">
	<div class="span8">
		<% @posts.each do |post| %>
			<%= render :partial => 'posts' %>
		<% end %>
	</div>
	<div class="span4">
	  	<%= render :partial => 'sidebar' %>
	</div>
</div>