<div class="row">
	<div class="span8">
    <h5><%= @post.title %></h5>
      <span class="date"><%= @post.created_at.strftime("%B %Y") %></span>
      <p><%= @post.content %></p>
        
	</div>

	<div class="span4">
		<%= render :partial => 'sidebar' %>
	</div>
</div>