
/***********************************************
* Colors
***********************************************/

$darkGray:#868686;
$gray:#555;
$grayLighter: #eee;
$grayLight: #999;
$green:#a7c84d;
$orange:#F15A23;

.orange{ color:$orange; }

@import "foundation";

@import url(http://fonts.googleapis.com/css?family=Merienda+One);
@import url(http://fonts.googleapis.com/css?family=Dr+Sugiyama);
/***********************************************
* Defaults
***********************************************/

body{
	border-top:5px solid $gray;
	color:$grayLight;
	background:#f8f8f8;
	font-family: "Rhomus", sans-serif;
}

a{
	color:$orange;
}
a:hover{
	color:$orange;
}
h1,h2,h3,h4{
	color:$grayLight;
}
h4{
	margin-top:20px;
	margin-bottom:20px;
	border-bottom:1px solid $grayLight;
}
p{
	line-height:1.8em;
}
ul li{
	list-style:none;
}

blockquote {
  padding: 0 0 0 15px;
  margin: 0 0 20px;
  border-left: 5px solid #eeeeee;
}

blockquote p {
  margin-bottom: 0;
  font-size: 16px;
  font-weight: 300;
  line-height: 25px;
}

blockquote small {
  display: block;
  line-height: 20px;
  color: #999999;
}

blockquote small:before {
  content: '\2014 \00A0';
}

blockquote.pull-right {
  float: right;
  padding-right: 15px;
  padding-left: 0;
  border-right: 5px solid #eeeeee;
  border-left: 0;
}

blockquote.pull-right p,
blockquote.pull-right small {
  text-align: right;
}

blockquote.pull-right small:before {
  content: '';
}

blockquote.pull-right small:after {
  content: '\00A0 \2014';
}

q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
}

address {
  display: block;
  margin-bottom: 20px;
  font-style: normal;
  line-height: 20px;
}

code,
pre {
  padding: 0 3px 2px;
  font-family: Monaco, Menlo, Consolas, "Courier New", monospace;
  font-size: 12px;
  color: #333333;
  -webkit-border-radius: 3px;
     -moz-border-radius: 3px;
          border-radius: 3px;
}

code {
  padding: 2px 4px;
  color: #d14;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
}

pre {
  display: block;
  padding: 9.5px;
  margin: 0 0 10px;
  font-size: 13px;
  line-height: 20px;
  word-break: break-all;
  word-wrap: break-word;
  white-space: pre;
  white-space: pre-wrap;
  background-color: #f5f5f5;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.15);
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

pre.prettyprint {
  margin-bottom: 20px;
}

pre code {
  padding: 0;
  color: inherit;
  background-color: transparent;
  border: 0;
}

.pre-scrollable {
  max-height: 340px;
  overflow-y: scroll;
}

form {
  margin: 0 0 20px;
}

fieldset {
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 20px;
  font-size: 21px;
  line-height: 40px;
  color: #333333;
  border: 0;
  border-bottom: 1px solid #e5e5e5;
}

legend small {
  font-size: 15px;
  color: #999999;
}

/***********************************************
* Links
***********************************************/

.more-link{
	float:right;
	margin-top:10px;
	font-size:12px;
	margin-right:10px;
}
.button-small{
	float:right;
	@extend .raised;
	display:block;
	background:$orange;
	color:$white;
	border:1px solid $grayLighter;
	font-size:15px;
	padding:5px;
}
.button-small:hover{
	background:#f48359;
	color:$white;
}
.blog-button{
	float:right;
}
#back-top {
	position: fixed;
	bottom: 30px;
	right:10px;
}

#back-top a {
	width: 51px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;

}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 51px;
	height: 51px;
	display: block;
	background: url(up-arrow.png) no-repeat top left;

}
#back-top a:hover span {
	background-position:0 -51px;
}

/***********************************************
* Shadows and CSS tricks
***********************************************/

.rotate {
  -webkit-transform: rotate(-6deg);  /* Safari 3.1+, Chrome */
     -moz-transform: rotate(-6deg);  /* Firefox 3.5-15 */
      -ms-transform: rotate(-6deg);  /* IE9+ */
       -o-transform: rotate(-6deg);  /* Opera 10.5-12.00 */
          transform: rotate(-6deg);  /* Firefox 16+, Opera 12.50+ */
}

.spacer{
	@extend .span4;
	margin:0 auto;
	margin-top:60px;
	margin-bottom:10px;
}

.arrow-down {
	width: 0;
	height: 0;
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;

	border-top: 20px solid #f00;
}

.drop-shadow {
  position:relative;
  float:left;
  width:40%;
  padding:0;
  margin:2em 10px 4em;
  background:#fff;
  -webkit-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
     -moz-box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
          box-shadow:0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.drop-shadow:before,
.drop-shadow:after {
  content:"";
  position:absolute;
  z-index:-2;
}

.drop-shadow p {
  font-size:16px;
  font-weight:bold;
}

.lifted {
  -moz-border-radius:4px;
       border-radius:4px;
}

.lifted:before,
.lifted:after {
  bottom:15px;
  left:10px;
  width:50%;
  height:20%;
  max-width:300px;
  max-height:100px;
  -webkit-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
     -moz-box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
          box-shadow:0 15px 10px rgba(0, 0, 0, 0.7);
  -webkit-transform:rotate(-3deg);
     -moz-transform:rotate(-3deg);
      -ms-transform:rotate(-3deg);
       -o-transform:rotate(-3deg);
          transform:rotate(-3deg);
}

.lifted:after {
  right:10px;
  left:auto;
  -webkit-transform:rotate(3deg);
     -moz-transform:rotate(3deg);
      -ms-transform:rotate(3deg);
       -o-transform:rotate(3deg);
          transform:rotate(3deg);
}

.raised {
    -webkit-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
       -moz-box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
            box-shadow: 0 15px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

/***********************************************
* Home Page Stylings
***********************************************/

.introduction{
	padding:20px;
	text-align:center;
	span{
		font-weight:300;
		font-size:25px;
		line-height:1.3em;
	}
}

#testimonial{
	p{
		font-size:1.1em;
	}
	margin:60px 0 40px 0;
}
#recent_posts{
	line-height:0;
	p,a{
		line-height:1.6em;
	}
	h6{
		font-size:1.2em;
		border-bottom:1px solid $grayLighter;
		padding:5px 0 5px 0;
	}
}

#why-me{
	h3{
		color:$orange;
		font-size:1.3em;
		margin-bottom:20px;
	}
	.four.columns{
		text-align:center;
	}
}
.reason{
		min-height:375px;
	}

#recent_posts{
	p{
		margin-top:10px;
		line-height:1.2em;
	}
}
.client{
	font-style:italic;
	font-size:10px;

}
#who_am_i{
	p{
		line-height:1.9em;
	}
}
.dropcap{
	float:left;
	color:$orange;
	font-size:30px;;
	line-height: 25px;
	padding-top: 4px;
	padding-right: 8px;
	padding-left: 3px;
	font-family: Georgia;
}
.alert{
	text-align:center;
}


/***********************************************
* Images
***********************************************/
.thumbnails li{
	line-height:0;
	text-align:center;
	position:relative;
	p{
		margin-top:8px;
		margin-bottom:-5px;
		color:$grayLight;
		font-size:1em;
		height:40px;
		vertical-align:bottom;
	}
}
.image{
	background: eggshell;
	border: 1px solid #ccc;
	padding:3px;
	border-radius:6px;
	img{
		border:1px solid #D8D8D8;
		background:url('loader.gif') no-repeat center center;
		width:100%;
	}
}

.zoom{
	position:relative;
	display:block;
}
.roll{
	position:absolute;
	background: url('hover.png') center center no-repeat #FFF;
	width:100%;
	height:100%;
	z-index:999;
}

/***********************************************
* Blog
***********************************************/

.post{
	padding-bottom:30px;
	overflow:hidden;
	margin-bottom:60px;
    h5{
        color:$grayLight;
        font-size:22px;
        line-height:1.5em;
        font-weight:200;
    }
}
.post_info{
	border-top:1px solid $grayLighter;
	border-bottom:1px solid $grayLighter;
	padding:10px 0 10px 0;
	margin:10px 0 15px 0;
	ul{
		display:inline;
		margin-left:0em;
		li{
			display:inline;
		}
		li:after{
			content: " // ";
		}
		li:last-child:after{
			content:'';
		}
	}
}

.bordered_list{
	margin-top:20px;
	margin-left:1em;
	list-style:none;
	li{
		border-bottom:1px solid $grayLighter;
		padding:5px;
		display:block;
		list-style:none;
	}
}


/***********************************************
* Navigation Bar
***********************************************/

#menu{
	margin:0 auto;
	margin-bottom:20px;
}
@media (max-width: 480px) {
	.navigation{
		height:50px;
		li{
			border-top:none;
			margin-top:none;
			line-height:50px;
			font-size:1.2em;
			float:left;
			display:block;
		}
	}
}

#navbar{
	height:100px;
	border-bottom:1px solid $grayLighter;
	margin-bottom:40px;
	-webkit-box-shadow: 0 5px 2px -2px gray;
   	-moz-box-shadow: 0 5px 2px -2px gray;
    box-shadow: 0 5px 2px -2px gray;
}

#logo{
	height:80px;
	padding-top:20px;
	a{
		font-family: 'Dr Sugiyama', cursive;
		color:$gray;
		font-size:45px;
		line-height:50px;
	}
	.subtext{
		font-family: 'Merienda One', cursive;
		font-size:12px;
	}
}
.navigation{
	float:right;
	height:100px;
	li{
		position:relative;
		line-height:100px;
		font-size:1.3em;
		display:inline-block;
		cursor:pointer;
		float:left;
		width:125px;
		text-align:center;
		a{
			color:$gray;
		}
	}
	li a{
		display:block;
	}
	.active,li:hover{
		display:block;
		margin-top:-6px;
		width:125px;
		border-top:6px solid $orange;
		a:hover,a{
			text-decoration:underline;
			color:$orange;
		}
	}
	.active:after, li:hover:after{
		width: 0;
		height: 0;
		top:-1px;
		left:55.5px;
		border-left: 7px solid transparent;
		border-right: 7px solid transparent;
		content:'';
		border-top: 7px solid $orange;
		position:absolute;
	}

}

/***********************************************
* Footer
***********************************************/

#footer{
	background:#3A3A3A;
	color:$grayLight;
	margin-top:30px;
	h3{
		color:inherit;
		margin-bottom:20px;
	}
	textarea{
		height:60px;
	}
	.tweet_list{
		list-style:none;
		margin:0px;
		padding:0px;
	    li{
	    	border-bottom:1px solid $grayLight;
	    	margin-bottom:20px;
	    	padding-bottom:20px;
	    }
	    li a:hover{
	    	color:$gray;
	    	text-decoration:none;
	    }
	    li:last-child{
	    	border-bottom:none;
	    }
	}
	.tweet{
	    width:100%;
	}

}

#footer_bottom{
	background:#303030;
	padding-top:12px;
	padding-bottom:12px;
	a{
		padding-left:10px;
		padding-right:10px;
	}
	ul{
		list-style:none;
	}
	li{
		float:left;
	}
}
.me_image{
	margin:0 10px 0;
	float:left;
}

/***********************************************
* Jquery Slider
***********************************************/
#slider{
	margin-bottom:60px;
	position:relative;
}
.slider-buttons{
	float:right;
}

.rotator{
	img{
		width:100%;
		border:none;
		height:auto;
	}
}
.rotator .heading{
    position:absolute;
    top:0px;
    left:0px;
    width:500px;
}
.rotator .description{
    width:500px;
    height:auto;
    position:absolute;
    bottom:0px;
    left:0px;
    padding:20px;
    background-color:#222;
    -moz-border-radius:0px 10px 0px 0px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;
    opacity:0.7;
    border-top:2px solid #000;
    border-right:2px solid #000;
}
.rotator .description p{
    text-shadow:-1px 1px 1px #000;
    font-weight:400;
    text-transform:none;
    letter-spacing:normal;
    line-height:26px;
}
a.more{
    color:$orange;
    text-decoration:none;
    font-weight:600;
    text-transform:uppercase;
    font-size:12px;
}
.rotator ul li a{
    width:230px;
    position:relative;
    height:52px;
    float:right;
    clear:both;
    padding-left:10px;
    text-decoration:none;
    display:block;
    line-height:52px;
    background-color:white;
    margin:1px -20px 1px 0px;
    opacity:0.7;
    color:black;
    font-size:20px;
    border-left:5px solid $orange;
    border-right:none;
    outline:none;
}
.rotator ul li a:hover{
      text-shadow:0px 0px 2px #fff;
}
.rotator ul{
    list-style:none;
    position:absolute;
    right:0px;
    top:0px;
    margin-top:6px;
    z-index:999999;
}
.rotator ul li{
    display:block;
    float:left;
    clear:both;
    width:260px;
}

img.bg{
    position:absolute;
    top:0px;
    left:0px;
}
.rotator{
    margin:0 auto;
    height:400px;
    position:relative;
    font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:-1px;
    overflow:hidden;
}

/***********************************************
* Contact Page
***********************************************/
#contact_info{
	margin-top:40px;
	p{
		line-height:1em;
	}
	h4{
		margin-bottom:20px;
		margin-top:0px;
	}
}
#contact_form{
	form{
		background:$grayLighter;
		padding:30px;
		padding-bottom:60px;
		input[type=text]{
			width:50%;
		}
		textarea{
			width:100%;
			height:150px;
		}
	}
}

/***********************************************
* Error Messages in contact form
***********************************************/

.field_with_errors{
	display:inline;
}

.message{
	color:red;
}

/***********************************************
* Viewbox
***********************************************/
.thumbdiv {
	float:left;
	position:relative;
	text-align:center;
}
.thumbdiv .title {
	position:absolute;
	padding:2px;
	font-size:1.0em;
	color:#fff;
	background:#000;
	border-top:solid 1px #000;
	opacity:0.8;
	left:0;
	right:0;
	bottom:0px;
}
/* VIEWBOX */
#viewbox {
	position:fixed;
	height:100%;
	width:100%;
	top:0;
	left:0;
	background:#383739;
	z-index:2190;
	overflow:auto;
}
.vb_wrap {
	position:absolute;
	padding:10px;
	height:20px;
	width:20px;
	background-image:url(ViewBox_bg.png);
	background-color:#0f0e0e;
	overflow:visible;
	z-index:2200;
	margin:0 auto;
	top:0;
	left:0;
	border-radius:10px;
	box-shadow: 4px 4px 7px #000;
}
.vb_wrap .content {
 	position:relative;
	overflow:visible;
	font-size:11px;
	color:#004000;
}
.vb_wrap .number {
	position:absolute;
	top:-32px;
	left:1px;
	font-size:0.9em;
	color:#0c0c0c;
}
.vb_wrap .close {
	position:absolute;
	top:-40px;
	right:-7px;
	background:url(viewbox_close.png) top left no-repeat;
	height:30px;
	width:30px;
}
* html .vb_wrap .close {
	top:-26px;
	right:7px;
}
.vb_wrap .next {
	position:absolute;
	right:-60px;
	background:url(ViewBox_next.png) top left no-repeat;
	height:50px;
	width:50px;
	z-index:2190;
}
.vb_wrap .prev {
	position:absolute;
	left:-59px;
	background:url(ViewBox_prev.png) top right no-repeat;
	height:50px;
	width:50px;
	z-index:2190;
}
.vb_wrap .close a, .next a, .prev a {
	display:block;
	height:100%;
	width:100%;
	text-indent:-777em;
	outline:none;
}
.vb_wrap .preloader {
	position:absolute;
	background:url(load.gif) center no-repeat;
	height:100%;
	width:100%;
	z-index:2255;
}
.vb_wrap h1 {
	margin:5px 0px 8px;
	padding-bottom:3px;
	letter-spacing:1.3px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	color:#cdcdcd;
	border-bottom:solid 1px #7e7e7e;

}
.vb_wrap p {
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	text-align:justify;
	color:#e5e5e5;
}
.vb_wrap .text {
	position:absolute;
	background: url(ViewBox_bg.png) top left repeat;
	border-top:solid 1px #121212;
	bottom:0; left:0;
	padding:5px;
	width:99%;
	z-index:2110;
}
* html .vb_wrap .text {
	background-image:none;
	background-color:#0f0e0e;
}
.vb_wrap .image {
	z-index:2220;
}
.vb_wrap .text h1 {
	margin:2px;
	padding:1px;
	color:#acacac;
	z-index:2230;
}
.vb_wrap .text .description {
	position:relative;
	bottom:0px;
	left:0px;
	padding:2px 2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	z-index:2260;
	color:#c1c1c1;
}

/***********************************************
* Flex Slider
***********************************************/

.bx-next,
#go-next,
.flex-next{
	margin-top:5px;
	display:inline-block;
	z-index:999;
	width: 17px;
	height: 17px;
	text-indent: -999999px;
	background: url(orange_next.png) no-repeat 0 -17px;
}
.flex-direction-nav li{
	display:inline;
	margin:0 2px -5px 2px;
}

.bx-prev,
#go-prev,
.flex-prev {
	margin-top:5px;
	display:inline-block;
	z-index:999;
	width: 17px;
	height: 17px;
	text-indent: -999999px;
	background: url(orange_prev.png) no-repeat 0 -17px;
}

/*next/prev button hover state*/
.bx-next:hover,
.bx-prev:hover,
#go-next:hover,
#go-prev:hover,
.flex-next:hover,
.flex-prev:hover{
	background-position: 0 0;
}

/***********************************************
* Icons
***********************************************/


[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;
  width: 14px;
  height: 14px;
  margin-top: 1px;
  *margin-right: .3em;
  line-height: 14px;
  vertical-align: text-top;
  background-image: url("glyphicons-halflings.png");
  background-position: 14px 14px;
  background-repeat: no-repeat;
}

/* White icons with optional class, or on hover/active states of certain elements */

.icon-white,
.nav-tabs > .active > a > [class^="icon-"],
.nav-tabs > .active > a > [class*=" icon-"],
.nav-pills > .active > a > [class^="icon-"],
.nav-pills > .active > a > [class*=" icon-"],
.nav-list > .active > a > [class^="icon-"],
.nav-list > .active > a > [class*=" icon-"],
.navbar-inverse .nav > .active > a > [class^="icon-"],
.navbar-inverse .nav > .active > a > [class*=" icon-"],
.dropdown-menu > li > a:hover > [class^="icon-"],
.dropdown-menu > li > a:hover > [class*=" icon-"],
.dropdown-menu > .active > a > [class^="icon-"],
.dropdown-menu > .active > a > [class*=" icon-"] {
  background-image: url("../img/glyphicons-halflings-white.png");
}

.icon-glass {
  background-position: 0      0;
}

.icon-music {
  background-position: -24px 0;
}

.icon-search {
  background-position: -48px 0;
}

.icon-envelope {
  background-position: -72px 0;
}

.icon-heart {
  background-position: -96px 0;
}

.icon-star {
  background-position: -120px 0;
}

.icon-star-empty {
  background-position: -144px 0;
}

.icon-user {
  background-position: -168px 0;
}

.icon-film {
  background-position: -192px 0;
}

.icon-th-large {
  background-position: -216px 0;
}

.icon-th {
  background-position: -240px 0;
}

.icon-th-list {
  background-position: -264px 0;
}

.icon-ok {
  background-position: -288px 0;
}

.icon-remove {
  background-position: -312px 0;
}

.icon-zoom-in {
  background-position: -336px 0;
}

.icon-zoom-out {
  background-position: -360px 0;
}

.icon-off {
  background-position: -384px 0;
}

.icon-signal {
  background-position: -408px 0;
}

.icon-cog {
  background-position: -432px 0;
}

.icon-trash {
  background-position: -456px 0;
}

.icon-home {
  background-position: 0 -24px;
}

.icon-file {
  background-position: -24px -24px;
}

.icon-time {
  background-position: -48px -24px;
}

.icon-road {
  background-position: -72px -24px;
}

.icon-download-alt {
  background-position: -96px -24px;
}

.icon-download {
  background-position: -120px -24px;
}

.icon-upload {
  background-position: -144px -24px;
}

.icon-inbox {
  background-position: -168px -24px;
}

.icon-play-circle {
  background-position: -192px -24px;
}

.icon-repeat {
  background-position: -216px -24px;
}

.icon-refresh {
  background-position: -240px -24px;
}

.icon-list-alt {
  background-position: -264px -24px;
}

.icon-lock {
  background-position: -287px -24px;
}

.icon-flag {
  background-position: -312px -24px;
}

.icon-headphones {
  background-position: -336px -24px;
}

.icon-volume-off {
  background-position: -360px -24px;
}

.icon-volume-down {
  background-position: -384px -24px;
}

.icon-volume-up {
  background-position: -408px -24px;
}

.icon-qrcode {
  background-position: -432px -24px;
}

.icon-barcode {
  background-position: -456px -24px;
}

.icon-tag {
  background-position: 0 -48px;
}

.icon-tags {
  background-position: -25px -48px;
}

.icon-book {
  background-position: -48px -48px;
}

.icon-bookmark {
  background-position: -72px -48px;
}

.icon-print {
  background-position: -96px -48px;
}

.icon-camera {
  background-position: -120px -48px;
}

.icon-font {
  background-position: -144px -48px;
}

.icon-bold {
  background-position: -167px -48px;
}

.icon-italic {
  background-position: -192px -48px;
}

.icon-text-height {
  background-position: -216px -48px;
}

.icon-text-width {
  background-position: -240px -48px;
}

.icon-align-left {
  background-position: -264px -48px;
}

.icon-align-center {
  background-position: -288px -48px;
}

.icon-align-right {
  background-position: -312px -48px;
}

.icon-align-justify {
  background-position: -336px -48px;
}

.icon-list {
  background-position: -360px -48px;
}

.icon-indent-left {
  background-position: -384px -48px;
}

.icon-indent-right {
  background-position: -408px -48px;
}

.icon-facetime-video {
  background-position: -432px -48px;
}

.icon-picture {
  background-position: -456px -48px;
}

.icon-pencil {
  background-position: 0 -72px;
}

.icon-map-marker {
  background-position: -24px -72px;
}

.icon-adjust {
  background-position: -48px -72px;
}

.icon-tint {
  background-position: -72px -72px;
}

.icon-edit {
  background-position: -96px -72px;
}

.icon-share {
  background-position: -120px -72px;
}

.icon-check {
  background-position: -144px -72px;
}

.icon-move {
  background-position: -168px -72px;
}

.icon-step-backward {
  background-position: -192px -72px;
}

.icon-fast-backward {
  background-position: -216px -72px;
}

.icon-backward {
  background-position: -240px -72px;
}

.icon-play {
  background-position: -264px -72px;
}

.icon-pause {
  background-position: -288px -72px;
}

.icon-stop {
  background-position: -312px -72px;
}

.icon-forward {
  background-position: -336px -72px;
}

.icon-fast-forward {
  background-position: -360px -72px;
}

.icon-step-forward {
  background-position: -384px -72px;
}

.icon-eject {
  background-position: -408px -72px;
}

.icon-chevron-left {
  background-position: -432px -72px;
}

.icon-chevron-right {
  background-position: -456px -72px;
}

.icon-plus-sign {
  background-position: 0 -96px;
}

.icon-minus-sign {
  background-position: -24px -96px;
}

.icon-remove-sign {
  background-position: -48px -96px;
}

.icon-ok-sign {
  background-position: -72px -96px;
}

.icon-question-sign {
  background-position: -96px -96px;
}

.icon-info-sign {
  background-position: -120px -96px;
}

.icon-screenshot {
  background-position: -144px -96px;
}

.icon-remove-circle {
  background-position: -168px -96px;
}

.icon-ok-circle {
  background-position: -192px -96px;
}

.icon-ban-circle {
  background-position: -216px -96px;
}

.icon-arrow-left {
  background-position: -240px -96px;
}

.icon-arrow-right {
  background-position: -264px -96px;
}

.icon-arrow-up {
  background-position: -289px -96px;
}

.icon-arrow-down {
  background-position: -312px -96px;
}

.icon-share-alt {
  background-position: -336px -96px;
}

.icon-resize-full {
  background-position: -360px -96px;
}

.icon-resize-small {
  background-position: -384px -96px;
}

.icon-plus {
  background-position: -408px -96px;
}

.icon-minus {
  background-position: -433px -96px;
}

.icon-asterisk {
  background-position: -456px -96px;
}

.icon-exclamation-sign {
  background-position: 0 -120px;
}

.icon-gift {
  background-position: -24px -120px;
}

.icon-leaf {
  background-position: -48px -120px;
}

.icon-fire {
  background-position: -72px -120px;
}

.icon-eye-open {
  background-position: -96px -120px;
}

.icon-eye-close {
  background-position: -120px -120px;
}

.icon-warning-sign {
  background-position: -144px -120px;
}

.icon-plane {
  background-position: -168px -120px;
}

.icon-calendar {
  background-position: -192px -120px;
}

.icon-random {
  width: 16px;
  background-position: -216px -120px;
}

.icon-comment {
  background-position: -240px -120px;
}

.icon-magnet {
  background-position: -264px -120px;
}

.icon-chevron-up {
  background-position: -288px -120px;
}

.icon-chevron-down {
  background-position: -313px -119px;
}

.icon-retweet {
  background-position: -336px -120px;
}

.icon-shopping-cart {
  background-position: -360px -120px;
}

.icon-folder-close {
  background-position: -384px -120px;
}

.icon-folder-open {
  width: 16px;
  background-position: -408px -120px;
}

.icon-resize-vertical {
  background-position: -432px -119px;
}

.icon-resize-horizontal {
  background-position: -456px -118px;
}

.icon-hdd {
  background-position: 0 -144px;
}

.icon-bullhorn {
  background-position: -24px -144px;
}

.icon-bell {
  background-position: -48px -144px;
}

.icon-certificate {
  background-position: -72px -144px;
}

.icon-thumbs-up {
  background-position: -96px -144px;
}

.icon-thumbs-down {
  background-position: -120px -144px;
}

.icon-hand-right {
  background-position: -144px -144px;
}

.icon-hand-left {
  background-position: -168px -144px;
}

.icon-hand-up {
  background-position: -192px -144px;
}

.icon-hand-down {
  background-position: -216px -144px;
}

.icon-circle-arrow-right {
  background-position: -240px -144px;
}

.icon-circle-arrow-left {
  background-position: -264px -144px;
}

.icon-circle-arrow-up {
  background-position: -288px -144px;
}

.icon-circle-arrow-down {
  background-position: -312px -144px;
}

.icon-globe {
  background-position: -336px -144px;
}

.icon-wrench {
  background-position: -360px -144px;
}

.icon-tasks {
  background-position: -384px -144px;
}

.icon-filter {
  background-position: -408px -144px;
}

.icon-briefcase {
  background-position: -432px -144px;
}

.icon-fullscreen {
  background-position: -456px -144px;
}

.progress {
  height: 20px;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f7f7f7;
  background-image: -moz-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f5f5f5), to(#f9f9f9));
  background-image: -webkit-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: -o-linear-gradient(top, #f5f5f5, #f9f9f9);
  background-image: linear-gradient(to bottom, #f5f5f5, #f9f9f9);
  background-repeat: repeat-x;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#fff9f9f9', GradientType=0);
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
     -moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress .bar {
  float: left;
  width: 0;
  height: 100%;
  font-size: 12px;
  color: #ffffff;
  text-align: center;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background-color: #0e90d2;
  background-image: -moz-linear-gradient(top, #149bdf, #0480be);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#149bdf), to(#0480be));
  background-image: -webkit-linear-gradient(top, #149bdf, #0480be);
  background-image: -o-linear-gradient(top, #149bdf, #0480be);
  background-image: linear-gradient(to bottom, #149bdf, #0480be);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff149bdf', endColorstr='#ff0480be', GradientType=0);
  -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-transition: width 0.6s ease;
     -moz-transition: width 0.6s ease;
       -o-transition: width 0.6s ease;
          transition: width 0.6s ease;
}

.progress .bar + .bar {
  -webkit-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
     -moz-box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
          box-shadow: inset 1px 0 0 rgba(0, 0, 0, 0.15), inset 0 -1px 0 rgba(0, 0, 0, 0.15);
}

.progress-striped .bar {
  background-color: #149bdf;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  -webkit-background-size: 40px 40px;
     -moz-background-size: 40px 40px;
       -o-background-size: 40px 40px;
          background-size: 40px 40px;
}

.progress.active .bar {
  -webkit-animation: progress-bar-stripes 2s linear infinite;
     -moz-animation: progress-bar-stripes 2s linear infinite;
      -ms-animation: progress-bar-stripes 2s linear infinite;
       -o-animation: progress-bar-stripes 2s linear infinite;
          animation: progress-bar-stripes 2s linear infinite;
}

.progress-danger .bar,
.progress .bar-danger {
  background-color: #dd514c;
  background-image: -moz-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#c43c35));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: -o-linear-gradient(top, #ee5f5b, #c43c35);
  background-image: linear-gradient(to bottom, #ee5f5b, #c43c35);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ffee5f5b', endColorstr='#ffc43c35', GradientType=0);
}

.progress-danger.progress-striped .bar,
.progress-striped .bar-danger {
  background-color: #ee5f5b;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-success .bar,
.progress .bar-success {
  background-color: #5eb95e;
  background-image: -moz-linear-gradient(top, #62c462, #57a957);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#57a957));
  background-image: -webkit-linear-gradient(top, #62c462, #57a957);
  background-image: -o-linear-gradient(top, #62c462, #57a957);
  background-image: linear-gradient(to bottom, #62c462, #57a957);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff62c462', endColorstr='#ff57a957', GradientType=0);
}

.progress-success.progress-striped .bar,
.progress-striped .bar-success {
  background-color: #62c462;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-info .bar,
.progress .bar-info {
  background-color: #4bb1cf;
  background-image: -moz-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#339bb9));
  background-image: -webkit-linear-gradient(top, #5bc0de, #339bb9);
  background-image: -o-linear-gradient(top, #5bc0de, #339bb9);
  background-image: linear-gradient(to bottom, #5bc0de, #339bb9);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff339bb9', GradientType=0);
}

.progress-info.progress-striped .bar,
.progress-striped .bar-info {
  background-color: #5bc0de;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}

.progress-warning .bar,
.progress .bar-warning {
  background-color: #faa732;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  filter: progid:dximagetransform.microsoft.gradient(startColorstr='#fffbb450', endColorstr='#fff89406', GradientType=0);
}

.progress-warning.progress-striped .bar,
.progress-striped .bar-warning {
  background-color: #fbb450;
  background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(0.25, rgba(255, 255, 255, 0.15)), color-stop(0.25, transparent), color-stop(0.5, transparent), color-stop(0.5, rgba(255, 255, 255, 0.15)), color-stop(0.75, rgba(255, 255, 255, 0.15)), color-stop(0.75, transparent), to(transparent));
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -moz-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
  background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.15) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.15) 50%, rgba(255, 255, 255, 0.15) 75%, transparent 75%, transparent);
}








