
/***********************************************
* Colors
***********************************************/ 

$darkGray:#868686;
$green:#a7c84d;
$orange:#F15A23;

.orange{ color:$orange; }

@import "bootstrap";
@import "bootstrap-responsive";
@import url(http://fonts.googleapis.com/css?family=Merienda+One);
@import url(http://fonts.googleapis.com/css?family=Dr+Sugiyama);


/***********************************************
* Defaults
***********************************************/ 
.hidden {
  display: none;
  visibility: hidden;
}

.visible-phone {
  display: none !important;
}

.visible-tablet {
  display: none !important;
}

.hidden-desktop {
  display: none !important;
}

@media (max-width: 767px) {
  .visible-phone {
    display: inherit !important;
  }
  .hidden-phone {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important;
  }
}

@media (min-width: 768px) and (max-width: 979px) {
  .visible-tablet {
    display: inherit !important;
  }
  .hidden-tablet {
    display: none !important;
  }
  .hidden-desktop {
    display: inherit !important;
  }
  .visible-desktop {
    display: none !important ;
  }
}
body{
	border-top:5px solid $gray;
	color:$grayLight;
	background:#f8f8f8;
	font-family: "Lucida Sans Unicode","Lucida Grande","Droid Sans",sans-serif;

}
.content{
	min-height:600px;
}
a{
	color:$orange;
}
a:hover{
	color:$orange;
}
h1,h2,h3,h4{
	color:$grayLight;
}
h4{
	margin-top:20px;
	margin-bottom:20px;
	border-bottom:1px solid $grayLight;
}
h5{
	color:$grayLight;
	font-size:22px;
	line-height:1.5em;
	font-weight:200;
}
.fifty-percent{
	width:40%;
}
/***********************************************
* Links
***********************************************/

.more-link{
	font-size:12px;
	margin-right:10px;
}
.button-small{
	@extend .raised;
	display:block;
	background:$orange;
	color:$white;
	border:1px solid $grayLighter;
	font-size:15px;
	padding:5px;
}
.button-small:hover{
	background:#f48359;
}

#back-top {
	position: fixed;
	bottom: 30px;
	right:10px;
}

#back-top a {
	width: 51px;
	display: block;
	text-align: center;
	font: 11px/100% Arial, Helvetica, sans-serif;
	text-transform: uppercase;
	text-decoration: none;
	color: #bbb;
	
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 51px;
	height: 51px;
	display: block;
	background: url(up-arrow.png) no-repeat top left;

}
#back-top a:hover span {
	background-position:0 -51px;
}

/***********************************************
* Shadows
***********************************************/

.raised {
    -webkit-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    -moz-box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    box-shadow: 0 10px 10px -10px rgba(0, 0, 0, 0.5), 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

.image_shadow{
	margin:0;
	padding:0;
	width:100%;
	display:block;
}

/***********************************************
* Home Page Stylings
***********************************************/ 

.introduction{
	background:transparent;
	padding:20px;
	text-align:center;
	span{
		font-weight:300;
		font-size:20px;
	}
	margin-bottom:50px;
}
#recent_posts{
	line-height:0;
	p,a{
		line-height:1.6em;
	}
}
.date{
	font-size:12px;
	color:$orange;
	line-height:2em;
}
.client{
	font-style:italic;
	font-size:10px;
	
}
#who_am_i{
	p{
		line-height:1.9em;
	}
}
.dropcap{
	float:left;
	color:$orange;
	font-size:30px;;
	line-height: 25px; 
	padding-top: 4px; 
	padding-right: 8px; 
	padding-left: 3px; 
	font-family: Georgia;
}
.alert{
	text-align:center;
}

/***********************************************
* Images
***********************************************/

.thumbnails{
	li{
		line-height:0;
	}
}
.image{
	background: eggshell;
	border: 1px solid white;
	padding: 4px;
	outline: 1px solid #EAEAEA;
	img{
		background:url('loader.gif') no-repeat center center;
		width:100%;
	}
}

.zoom{
	position:relative;
	display:block;
}
.roll{
	position:absolute;
	background: url('hover.png') center center no-repeat #FFF;
	width:100%;
	height:100%;
	z-index:999;
}

/***********************************************
* Blog
***********************************************/

.post{
	margin-bottom:30px;
	position:relative;
	min-height:200px;
}
.post_info{
	border-top:1px solid $grayLighter;
	border-bottom:1px solid $grayLighter;
	padding:10px 0 10px 0;
	margin:10px 0 15px 0;
	ul{
		display:inline;
		margin-left:0em;
		li{
			display:inline;
		}
		li:after{
			content: " // ";
		}
		li:last-child:after{
			content:'';
		}
	}
}

.bordered_list{
	margin-top:20px;
	margin-left:1em;
	list-style:none;
	li{
		border-bottom:1px solid $grayLighter;
		padding:5px;
		display:block;
		list-style:none;
	}
}


/***********************************************
* Navigation Bar
***********************************************/

#menu{
	margin:0 auto;
	margin-bottom:20px;
}
@media (max-width: 480px) {
	.navigation{
		height:50px;
		li{
			border-top:none;
			margin-top:none;
			line-height:50px;
			font-size:1.2em;
			float:left;
			display:block;
		}
	}
}
#navbar{
	height:100px;
	border-bottom:1px solid $grayLighter;
	margin-bottom:40px;
	-webkit-box-shadow: 0 5px 2px -2px gray;
   	-moz-box-shadow: 0 5px 2px -2px gray;
    box-shadow: 0 5px 2px -2px gray;
}
#logo{
	
	height:80px;
	padding-top:20px;
	a{
		font-family: 'Dr Sugiyama', cursive;
		color:$gray;
		font-size:45px;
		line-height:50px;
	}
	.subtext{
		font-family: 'Merienda One', cursive;
		font-size:12px;
	}
}
.navigation{
	height:100px;
	li{
		border-top:5px solid $orange;
		margin-top:-5px;
		line-height:100px;
		font-size:1.3em;
		display:inline-block;
		cursor:pointer;
		float:left;
		width:125px;
		text-align:center;
		a{
			color:$gray;
		}
	}
	li a{
		display:block;
	}
	.active,li:hover{
		margin-left:-2px;
		background:$orange;
		display:block;
		height:100px;
		width:125px;
		box-shadow:0 10px 5px rgba(0, 0, 0, .1);
		border-bottom:1px solid $orange;
		border-left:1px solid $grayLight;
		border-right:1px solid $grayLight;
		a{
			color:white;
		}
	}
}

/***********************************************
* Footer
***********************************************/ 

#footer{
	background:#3A3A3A;
	color:$grayLight;
	padding:35px 0 30px;
	margin-top:30px;
	h3{
		color:inherit;
		margin-bottom:20px;
	}
	textarea{
		height:60px;
	}

	p{
		line-height:1.8em;
	}
	.tweet_list{
		list-style:none;
		margin:0px;
		padding:0px;
    	line-height:1.5em;
	    li{
	    	border-bottom:1px solid $grayLight;
	    	margin-bottom:20px;
	    	padding-bottom:20px;
	    }
	    li a:hover{
	    	color:$gray;
	    	text-decoration:none;
	    }
	    li:last-child{
	    	border-bottom:none;
	    }
	}
	.tweet{
	    width:100%;
	}

}
#footer_bottom{
	background:#303030;
	padding:12px 0;
	a{
		padding-left:10px;
		padding-right:10px;
	}
	ul{
		list-style:none;
	}
	li{
		float:left;
	}
}
.me_image{
	margin:0 10px 0;
}

/***********************************************
* Jquery Slider
***********************************************/ 
#slider{
	margin-bottom:60px;
}
.rotator{
	img{
		width:100%;
		border:none;
		height:auto;
	}
}
.rotator .heading{
    position:absolute;
    top:0px;
    left:0px;
    width:500px;
}
.rotator .description{
    width:500px;
    height:80px;
    position:absolute;
    bottom:0px;
    left:0px;
    padding:20px;
    background-color:#222;
    -moz-border-radius:0px 10px 0px 0px;
    -webkit-border-top-right-radius:10px;
    border-top-right-radius:10px;
    opacity:0.7;
    border-top:2px solid #000;
    border-right:2px solid #000;
}
.rotator .description p{
    text-shadow:-1px 1px 1px #000;
    font-weight:400;
    text-transform:none;
    letter-spacing:normal;
    line-height:26px;
}
a.more{
    color:$orange;
    text-decoration:none;
    font-weight:600;
    text-transform:uppercase;
    font-size:12px;
}
.rotator ul li a{
    width:230px;
    position:relative;
    height:52px;
    float:right;
    clear:both;
    padding-left:10px;
    text-decoration:none;
    display:block;
    line-height:52px;
    background-color:white;
    margin:1px -20px 1px 0px;
    opacity:0.7;
    color:black;
    font-size:20px;
    border-left:5px solid $orange;
    border-right:none;
    outline:none;
}
.rotator ul li a:hover{
      text-shadow:0px 0px 2px #fff;
}
.rotator ul{
    list-style:none;
    position:absolute;
    right:0px;
    top:0px;
    margin-top:6px;
    z-index:999999;
}
.rotator ul li{
    display:block;
    float:left;
    clear:both;
    width:260px;
}

img.bg{
    position:absolute;
    top:0px;
    left:0px;
}
.rotator{
    background-color:$grayLight;
    margin:0 auto;
    height:400px;
    position:relative;
    font-family:'Myriad Pro',Arial,Helvetica,sans-serif;
    color:#fff;
    text-transform:uppercase;
    letter-spacing:-1px;
    overflow:hidden;
    -moz-box-shadow:0px 0px 10px #222;
    -webkit-box-shadow:0px 0px 10px #222;
    box-shadow:0px 0px 10px #222;
}

/***********************************************
* Contact Page
***********************************************/ 
#contact_info{
	margin-top:40px;
	p{
		line-height:1em;
	}
	h4{
		margin-bottom:20px;
		margin-top:0px;
	}
}
#contact_form{
	form{
		background:$grayLighter;
		padding:30px;
		input[type=text]{
			width:50%;
		}
		textarea{
			width:100%;
			height:150px;
		}
	}
}

/***********************************************
* Error Messages in contact form
***********************************************/ 

field_with_errors{
	display:inline;
} 

.message{
	color:red;
}

/***********************************************
* Viewbox
***********************************************/ 
.thumbdiv {
	float:left; 
	position:relative;
	text-align:center;
}
.thumbdiv .title {
	position:absolute;
	padding:2px;
	font-size:1.0em;
	color:#fff;
	background:#000;
	border-top:solid 1px #000;
	opacity:0.8;
	left:0;
	right:0;
	bottom:0px;
}
/* VIEWBOX */
#viewbox {
	position:fixed;
	height:100%;
	width:100%;   
	top:0;
	left:0;
	background:#383739;
	z-index:2190; 
	overflow:auto;
} 
.vb_wrap {
	position:absolute; 
	padding:10px;
	height:20px;
	width:20px; 
	background-image:url(ViewBox_bg.png);
	background-color:#0f0e0e;
	overflow:visible; 
	z-index:2200;
	margin:0 auto;
	top:0; 
	left:0;
	border-radius:10px;
	box-shadow: 4px 4px 7px #000;
} 
.vb_wrap .content {
 	position:relative;
	overflow:visible;
	font-size:11px;
	color:#004000;
}
.vb_wrap .number {
	position:absolute;
	top:-32px;
	left:1px;
	font-size:0.9em;
	color:#0c0c0c;
} 
.vb_wrap .close {
	position:absolute; 
	top:-40px;
	right:-7px;
	background:url(viewbox_close.png) top left no-repeat;
	height:30px;
	width:30px;
}
* html .vb_wrap .close {
	top:-26px;
	right:7px;
}
.vb_wrap .next {
	position:absolute;   
	right:-60px;
	background:url(ViewBox_next.png) top left no-repeat;
	height:50px;
	width:50px;
	z-index:2190;
}
.vb_wrap .prev {
	position:absolute;   
	left:-59px;
	background:url(ViewBox_prev.png) top right no-repeat;
	height:50px;
	width:50px;
	z-index:2190;
}
.vb_wrap .close a, .next a, .prev a {
	display:block;
	height:100%;
	width:100%;
	text-indent:-777em;
	outline:none;
}
.vb_wrap .preloader {
	position:absolute;
	background:url(load.gif) center no-repeat;
	height:100%;
	width:100%;
	z-index:2255;
}
.vb_wrap h1 {
	margin:5px 0px 8px;
	padding-bottom:3px;
	letter-spacing:1.3px; 
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	color:#cdcdcd;
	border-bottom:solid 1px #7e7e7e;
	
}
.vb_wrap p { 
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.8em;
	text-align:justify;
	color:#e5e5e5;
}
.vb_wrap .text {
	position:absolute;
	background: url(ViewBox_bg.png) top left repeat;
	border-top:solid 1px #121212;
	bottom:0; left:0;
	padding:5px;
	width:99%; 
	z-index:2110;
}
* html .vb_wrap .text {
	background-image:none;
	background-color:#0f0e0e;
}
.vb_wrap .image {
	z-index:2220;
}
.vb_wrap .text h1 {
	margin:2px; 
	padding:1px;
	color:#acacac;
	z-index:2230;
}
.vb_wrap .text .description {
	position:relative;
	bottom:0px; 
	left:0px;
	padding:2px 2px;
	font-family:Arial, Helvetica, sans-serif;
	font-size:0.9em;
	z-index:2260;
	color:#c1c1c1; 
}
